{% extends 'base.html' %}


{% block title %}
<title>Онлайн магазин</title>
{% endblock %}
{% block body%}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Корзина</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% if data %}
        <table class="table">
              <thead>
                  <tr>
                      <th>Название</th>
                      <th>Цена за ед.</th>
                      <th></th>
                  </tr>
              </thead>
            {% for title, price in data %}
              <tbody>
              <tr>
                  <td>{{ title }}</td>
                  <td>{{ price }} $ </td>
                  <td><a href="/delgds/{{ title }}" class="w-100">Удалить</a> </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        <a href="/baskbuy" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
        {% else %}
            <p class="container">Корзина пусто<br><a href="/">Добавить товар</a></p>
        {% endif %}
    </div>
{% endblock %}