{% extends "base.html" %}

{% block title %}
<title>Авторизация пользователей</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h3 class="mb-4 text-center" >Авторизация пользователей</h3>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] %}
                    <div class="mb-3">
                        {{ field.label(class="form-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for e in field.errors %}
                                    {{ e }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="form-check mb-3">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <div class="mt-3">
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
                <hr align="left" width="300px">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{{ url_for('process_register') }}">Регистрация</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}