{% extends "base.html" %}


{% block title %}
<title>Авторизация пользователей</title>
{% endblock %}

{% block body %}
<div class="container"><h1>Авторизация пользователей</h1></div>
    <form class="form-control"  method="post">
       {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] %}
            {{ field.label() }}
            {% if field.errors %}
                {{ field(class='invalid') }}
            <span class="invalid">
                {% for e in field.errors %}
                    {{ e }}
                {% endfor %}
            </span>
            {% else %}
                {{ field }}
            {% endif %}
        <br><br>
        {% endfor %}
        <p>{{ form.remember() }} {{form.remember.label()}}</p>
        <p >{{ form.submit() }}</p>
        <hr align=left width="300px">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{{ url_for('process_register')}}">Регистрация</a>
    </form>

{% endblock %}