{% extends "base.html" %}


{% block title %}
    <title>Category</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center">Add manager</h3>
        <form class="form-control-sm" method="POST" action="/managers">
        {{ form.hidden_tag() }}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                    <div class="mb-1">
                        {{ field.label(class="form-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for e in field.errors %}
                                    {{ e }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="mt-3">
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
            </div>
        </div>
    </form>
    </div>
    <br><br><br><br><br>
     {% if managers %}
        <table class="table">
              <thead>
                  <tr>
                      <th>Имя</th>
                      <th>Роли</th>
                      <th></th>
                  </tr>
              </thead>
            {% for manager in managers %}
              <tbody>
              <tr>
                  <td>{{ manager.username }}</td>
                  <td>{{ manager.role.name }}</td>
                  <td><a href="/managers/delete/{{ manager.id }}" class="btn btn-secondary">Удалить</a> </td>
              </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3>Пока нет ролей</h3>
        {% endif %}
        </table>
    </div>
{% endblock %}