{% extends "base.html" %}


{% block title %}
    <title>Category</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h5>Add category</h5>
        <form class="form-control-sm" method="POST" action="/categories">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                {{ field.label() }}
                {% if field.errors %}
                    {{ field(class='invalid') }}
                    <span class="alert-danger">
                {% for e in field.errors %}
                    {{ e }}
                {% endfor %}
            </span>
                {% else %}
                    {{ field }}
                {% endif %}
                <br><br>
            {% endfor %}
            <p>{{ form.submit(class='btn btn-outline-success') }}</p>
        </form>
    </div>
    <br>
    <br>
     {% if permissions %}
        <table class="table">
              <thead>
                  <tr>
                      <th>Название</th>
                      <th>ID</th>
                      <th>Описание</th>
                      <th>Действии</th>
                  </tr>
              </thead>
            {% for permission in permissions %}
              <tbody>
              <tr>
                  <td>{{ permission.name }}</td>
                  <td>{{ permission.id }}</td>
                  <td>{{ permission.description }}</td>
                  <td><a href="/permissions/delete/{{ permission.id }}" class="btn btn-secondary">Удалить</a> </td>

              </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <h3>Пусто</h3>
        {% endif %}
        </table>
    </div>
{% endblock %}