{% extends "base.html" %}


{% block title %}
<title>Регистрация пользователей</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Регистрация пользователей</h1>
    <form method="post">
       {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
            {{ field.label() }}
            {% if field.errors %}
                {{ field() }}
            <span>
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </span>
            {% else %}
                {{ field() }}
            {% endif %}
        <br><br>
        {% endfor %}
       <button class="btn btn-success" type="submit" value="Register">{{ form.submit() }}</button>

    </form>
</div>
{% endblock %}