{% extends "base.html" %}


{% block title %}
<title>Регистрация пользователей</title>
{% endblock %}

{% block body %}
<div class="container container mt-5">
    <h3 class="mb-4 text-center">Регистрация пользователя</h3>
    <form method="post">
       {{ form.hidden_tag() }}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for field in form if field.name not in ['csrf_token', 'submit'] %}
                    <div class="mb-3">
                        {{ field.label(class="form-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for e in field.errors %}
                                    {{ e }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="mt-3">
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>

    </form>
</div>
{% endblock %}